<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <div class="input-section mail-section">
    <div class="icon"><i class="fa-sharp fa-regular fa-envelope"></i></div>
    <input formControlName="email" type="email" placeholder="Enter email address"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
      <ng-container *ngIf="submitted && f['email'].errors">
        <div class="fv-plugins-message-container invalid-feedback" *ngIf="f['email'].errors['required']">
          Email Is Required
        </div>
      </ng-container>
  </div>
  <div class="input-section password-section">
    <div class="icon"><i class="fa-sharp fa-regular fa-lock"></i></div>
    <input type="password" placeholder="Password" formControlName="pw" [ngClass]="{ 'is-invalid': submitted && f['pw'].errors }">
    <ng-container *ngIf="submitted && f['pw'].errors">
      <div class="fv-plugins-message-container invalid-feedback" *ngIf="f['pw'].errors['required']">
        Password Is Required
      </div>
    </ng-container>
  </div>
  <button type="submit" class="btn-default">Sign In</button>
</form>
