  <div class="inner-popup">
    <div class="header-top">
      <div class="logo">
        <a routerLink="/dashboard">
          <img class="logo-light" src="images/logo/logo.png" alt="ChatBot Logo">
        </a>
      </div>
      <div class="close-menu">
        <button class="close-button">
          <i class="fa-sharp fa-regular fa-x"></i>
        </button>
      </div>
    </div>

    <div class="content">
      <ul class="mainmenu">
        <li><a routerLink="/dashboard">Home</a></li>
        <li ><a routerLink="/generator">Tools </a></li>
      </ul>

      <div class="rbt-sm-separator"></div>
      <div class="rbt-default-sidebar-wrapper">
        <nav class="mainmenu-nav">
          <ul class="dashboard-mainmenu rbt-default-sidebar-list">
            <li><a routerLink="/generator/channel/youtube"><img src="images/generator-icon/text.png"
                  alt="AI Generator"><span>Youtube</span></a></li>
            <li><a routerLink="/generator/channel/amazone"><img src="images/generator-icon/photo.png"
                  alt="AI Generator"><span>Amazone</span>
                <div class="rainbow-badge-card badge-sm ml--10">Hot</div>
              </a></li>
            <li><a routerLink="/generator/channel/facebook"><img src="images/generator-icon/code-editor.png"
                  alt="AI Generator"><span>Facebook</span></a></li>
          </ul>
        </nav>


      </div>
    </div>
  </div>
