<div class="rbt-main-content mb--0">
  <div class="rbt-daynamic-page-content center-width">

      <!-- Dashboard Center Content -->
      <div class="rbt-dashboard-content">
          <div class="banner-area">
              <!-- AiWavesmall Slider -->

          </div>
          <div class="content-page pb--50">
              <div class="chat-box-list">

                  <!-- AiWaveNotification Section -->
                  <div class="single-settings-box sessions-box overflow-hidden">
                      <div class="section-title d-flex justify-content-between">
                          <h4 class="title">Application</h4>
                      </div>
                      <div class="rbt-sm-separator mt-0"></div>
                      <div class="list-card-grp">
                          <div class="toolbar d-flex">
                              <div class="icon"><i class="fa-regular fa-circle-info"></i></div>
                              <p class="desc">You accessed the system from two distinct devices utilizing separate web browsers...</p>
                          </div>
                          <div class="list-card style-two">
                              <div class="inner">
                                  <div class="left-content align-items-center" [routerLink]="fixed.youtubeCookies != null?'/generator/channel/youtube':null">
                                      <div class="img-section">
                                          <img src="images/icons/youtube.png" alt="Browser Icon">
                                      </div>
                                      <div class="content-section">
                                          <h6 class="title">youtube</h6>
                                      </div>
                                  </div>
                                  <div class="right-content">
                                      <button class="btn-default btn-border round" (click)="youtubeConnection()" *ngIf='(fixed.youtubeCookies == null ||fixed.youtubeCookies == "")&&fixed.userProfile.email'>
                                          <i class="fa-sharp fa-solid fa-plus"></i> Connect
                                      </button>

                                      <button class="btn-default btn-border round delete" (click)="youtubeDesConnection()" *ngIf='!(fixed.youtubeCookies == null||fixed.youtubeCookies == "") '>
                                          <i class="fa-solid fa-trash-can"></i> Remove
                                      </button>

                                      <button class="btn-default btn-border round " routerLink="/account/login" *ngIf='!fixed.userProfile.email'>
                                        <i class="fa-solid fa-circle-exclamation"></i> Login
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div class="list-card style-two">
                              <div class="inner">
                                  <div class="left-content align-items-center"[routerLink]="fixed.amazoneCookies != null?'/generator/channel/amazone':null">
                                      <div class="img-section">
                                          <img src="images/icons/amazon-logo.png" alt="Browser Icon">
                                      </div>
                                      <div class="content-section">
                                          <h6 class="title">amazone</h6>
                                      </div>
                                  </div>
                                  <div class="right-content">
                                      <button class="btn-default btn-border round not-avilable">
                                        <i class="fa-solid fa-circle-notch"></i> Soon
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div class="list-card style-two">
                              <div class="inner">
                                  <div class="left-content align-items-center">
                                      <div class="img-section">
                                          <img src="images/icons/facebook.png" alt="Browser Icon">
                                      </div>
                                      <div class="content-section">
                                          <h6 class="title">Facebook</h6>
                                      </div>
                                  </div>
                                  <div class="right-content">
                                    <button class="btn-default btn-border round not-avilable">
                                      <i class="fa-solid fa-circle-notch"></i> Soon
                                    </button>
                                  </div>
                              </div>
                          </div>
                          <div class="list-card style-two">
                              <div class="inner">
                                  <div class="left-content align-items-center">
                                      <div class="img-section">
                                          <img src="images/icons/snapchat.png" alt="Browser Icon">
                                      </div>
                                      <div class="content-section">
                                          <h6 class="title">snapchat</h6>
                                      </div>
                                  </div>
                                  <div class="right-content">
                                    <button class="btn-default btn-border round not-avilable">
                                      <i class="fa-solid fa-circle-notch"></i> Soon
                                    </button>
                                  </div>
                              </div>
                          </div>
                          <div class="list-card style-two">
                              <div class="inner">
                                  <div class="left-content align-items-center">
                                      <div class="img-section">
                                          <img src="images/icons/tiktok.png" alt="Browser Icon">
                                      </div>
                                      <div class="content-section">
                                          <h6 class="title">tiktok</h6>
                                      </div>
                                  </div>
                                  <div class="right-content">
                                    <button class="btn-default btn-border round not-avilable">
                                      <i class="fa-solid fa-circle-notch"></i> Soon
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
