<div class="rbt-left-panel popup-dashboardleft-section" [ngClass]="{'collapsed':!fixed.sidebar}">
  <div class="rbt-default-sidebar">
    <div class="inner">
      <div class="content-item-content">
        <div class="rbt-default-sidebar-wrapper">
          <nav class="mainmenu-nav">
            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
              <li><a [routerLink]="!(fixed.youtubeCookies == null||fixed.youtubeCookies == '' )? '/generator/channel/youtube':null" [ngClass]="{'disapleSide':(fixed.youtubeCookies == null||fixed.youtubeCookies == '')}"><img src="images/generator-icon/text.png"
                alt="AI Generator"><span>Youtube</span></a></li>
          <li><a [routerLink]="!(fixed.amazoneCookies == null||fixed.amazoneCookies == '' )? '/generator/channel/amazone':null" [ngClass]="{'disapleSide':(fixed.amazoneCookies == null||fixed.amazoneCookies == '' )}"><img src="images/generator-icon/photo.png"
                alt="AI Generator"><span>Amazone</span>
              <div class="rainbow-badge-card badge-sm ml--10">Hot</div>
            </a></li>
          <li><a [routerLink]="!(fixed.facebookCookies == null||fixed.facebookCookies == '' )? '/generator/channel/facebook':null" [ngClass]="{'disapleSide':(fixed.facebookCookies == null||fixed.facebookCookies == '' )}"><img src="images/generator-icon/code-editor.png"
                alt="AI Generator"><span>Facebook</span></a></li>
            </ul>
          </nav>

          <div class="rbt-sm-separator"></div>

          <nav class="mainmenu-nav">
            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
              <li><a href="#"><i class="fa-sharp fa-regular fa-award"></i><span>Help & FAQ</span></a></li>
            </ul>
            <div class="rbt-sm-separator"></div>
            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
              <li><a><i class="fa-sharp fa-regular fa-bell"></i><span>Release
                    notes</span></a></li>
              <li><a><i class="fa-sharp fa-regular fa-briefcase"></i><span>Terms
                    & Policy</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div id="my_switcher" class="my_switcher-3">
      <ul>
        <li>
          <a (click)="global.activeMode('dark')" data-theme="light" class="setColor light" [ngClass]="{'active':fixed.activeMode == 'dark'}">
            <img src="images/light/switch/sun-01.svg" alt="Switcher Image">
            <span class="text" title="Dark Mode">
              Dark</span>
          </a>
        </li>
        <li>
          <a (click)="global.activeMode('light')" data-theme="dark" class="setColor dark" [ngClass]="{'active':fixed.activeMode == 'light'}">
            <img src="images/light/switch/vector.svg" alt="Switcher Image">
            <span class="text" title="Light Mode">Light</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="subscription-copyright copyright-text text-center b3  small-text">© 2025
</div>
